/vendor
node_modules
npm-debug.log*
yarn-error.log*

.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
*.log
storage/*.key
.storage*

.idea
*.iml
.vagrant
public/storage
public/hot
public/build
.DS_Store
Thumbs.db
docker-compose.override.yml
.storage

# FlyEnv local config
.flyenv
public/.flyenv

# Sheaf component registry
sheaf.json
sheaf-lock.json
